<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<add key="CaminhoArquivos" value="C:\Users\josec\Source\Repos\Csharp-Open\Arquivos_07\"/>
	<add key="BaseDeClientes" value="C:\Users\josec\Source\Repos\Csharp-Open\Db\clientes.txt"/>
    <add key="BaseDeUsuarios" value="C:\Users\josec\Source\Repos\Csharp-Open\Db\usuarios.txt"/>
	<add key="CaminhoArquivos" value="C:\Users\josec\Source\Repos\Csharp-Open\Db\"/>  <!-- Colocado novo caminho aqui -->
</appSettings>
</configuration>