<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<add key="sqlConnection" value=";Password=babaloo;Persist Security Info=True;User ID=sa;Initial Catalog=TresCamadas;Data Source=JOSH\SQLEXPRESS"/>
	<!--<add key="sqlConnection" value="Server=JOSH\SQLEXPRESS;Database=TresCamadas;User Id=sa;Password=babaloo;"/> -->
    <add key="CaminhoArquivos" value="C:\db\"/> 
</appSettings>
</configuration>

